<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="wrapper-form">
        <h2>Contact</h2>
        <form class="form-action form-2" action="contact" method="post">
            Name: <input type="text" name="name" value="<%= name %>"><br /><br />
            Content: <br />
            <textarea name="content" cols="80" rows="5"><%= content %></textarea><br /><br />
            <input class="btn-summit" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>