<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="wrapper-form">
        <h2>Login</h2>
        <form class="form-action" action="login" method="POST">
            <div>
                Name <input type="text" name="name">
            </div>
            <div>
                Password <input type="password" name="password">
            </div>
            <input class="btn-summit" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>