<html>

<head>
    <title>Unathorized</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/" alt="">Home</a></li>
            <li><a href="login" alt="">Login</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2 class="title-header">
            Unathorized
        </h2>
    </div>
</body>

</html>